*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgb(2,0,36);
    font-size: 2rem;
    font-family: sans-serif;
    color: antiquewhite;
    gap: 20px;    
}

.container {
    height: 40vh;
    width: 40vw;
    background-color: grey;
    text-align: left;
    padding-top: 12px;
    border-radius: 16px;
    border: 2px solid (14,43,1);
}
.container_2 {
    height: 40vh;
    width: 80vw;
    background-color: grey;
    text-align: center;
    padding-top: 12px;
    border-radius: 16px;
    border: 2px solid (14,43,1);
}